table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3en Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px solid #4e494d;
}

#inputBox{
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}
.digitButton{
    background-color: #807e80;
    font-size: 30px;
    cursor: pointer;
}
.operatorButton{
    background-color: #ff9e96;
    font-size: 40px;
    box-shadow: inset 0px 0px 10px #d7b1b1;
}
.ACButton{
    background-color: #656165;
}





